Goldpay 联系客服邮件
用户邮箱：[EMAIL]
<br/>
用户姓名： [NAME]
<br/>
查询类别： [CATEGORY]
<br/>
用户反馈的问题：[ENQUIRY]
<br/>
版本号：[VERSIONNUM]
<br/>
设备名：[DEVICENAME]
<br/>
设备ID：[DEVICEID]
<br/>
系统：[SYSTEM]
<br/>
手机型号：[PHONEMODEL]
<br/>
<br/>