提取金条通知
金本汇管理员：
系统已收到一条新的金条提取申请，请及时处理。
申请人资料：
用户名：[NAME]
手机号：[PHONE]
电子邮箱：[EMAIL]
申请时间(GMT+8)：[TIME]
提取数量：[NUMBER]根
商品金额：[GOLDPAY] [CURRENCY]
手续费：[FEE] [CURRENCY]
实际支付：[AMOUNT] [CURRENCY]

此致
                                金本汇CRM