<?xml version="1.0" encoding="UTF-8" ?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="springMVCExceptionResolver" class="com.yuyutechnology.exchange.server.configer.ExchangeServerExceptionResolver"/>
	<bean class="com.yuyutechnology.exchange.server.configer.SwaggerConfig" />
	
	
	<!-- 
	<bean
        id="decryptEncryptBodyProcessor"
        class="com.yuyutechnology.exchange.server.security.DecryptEncryptBodyProcessorImpl" />

    <bean
        id="decryptEncryptHttpMessageConverter"
        class="com.yuyutechnology.exchange.server.security.DecryptEncryptHttpMessageConverter"
        p:decryptEncryptBodyProcessor-ref="decryptEncryptBodyProcessor" >
        
        <property name="decryptEncryptBodyProcessor" ref="decryptEncryptBodyProcessor" />
     </bean>
	 -->
        
    <bean
        id="decryptEncryptBodyMethodProcessor"
        class="com.yuyutechnology.exchange.server.security.DecryptEncryptBodyMethodProcessor" >
        <constructor-arg >
        <list>
            <ref bean="decryptEncryptHttpMessageConverter"/>
        </list>
        </constructor-arg>
    </bean>

	<context:component-scan base-package="com.yuyutechnology"
		use-default-filters="false">
		<context:include-filter expression="org.springframework.stereotype.Controller"
			type="annotation" />
	</context:component-scan>
	
	<!-- Controller 拦截配置
	<aop:aspectj-autoproxy proxy-target-class="true" />  -->
	
	<!-- Default ViewResolver -->
	<!-- scan spring bean for IOC -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp"></property>
	</bean>
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
	            <property name="objectMapper">  
	                <bean class="com.yuyutechnology.exchange.cfg.JsonObjectMapper"></bean>  
	            </property>  
	        </bean> 
		</mvc:message-converters>
        <mvc:argument-resolvers>
            <ref bean="decryptEncryptBodyMethodProcessor" />
        </mvc:argument-resolvers>
        <mvc:return-value-handlers>
            <ref bean="decryptEncryptBodyMethodProcessor" />
        </mvc:return-value-handlers>
	</mvc:annotation-driven>
	<mvc:interceptors>
	<mvc:interceptor>
		<mvc:mapping path="/token/**" />  
		<bean class="com.yuyutechnology.exchange.server.filter.LoginInterceptor"></bean>
	</mvc:interceptor>
	</mvc:interceptors>
</beans>